html {
    height: 100%;
  }

img{
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

a:visited{
    text-decoration: none;
    color: inherit;
}

.main{
    height: 100%;
    padding: 20px;
}

.mainrow{
    padding: 12px;
}

.ttt{
    text-align: center;
    font-size: x-large;
    font-weight: bold;
    padding: 20px;
    transition-duration: 200ms;
}

.ttt:hover{
    font-size: xx-large;
    transition-duration: 200ms;
}

.just{
    align-items: center;
}

.card{
    margin: auto;
    transition-duration: 100ms;
    box-shadow: 3px 3px 3px rgb(149, 161, 216);
    flex-grow: 1;
    border-radius: 3%;
    overflow:hidden;
}

.xd{
    margin: 10px;
}

.cardLink:hover{
    background-color: #b4b5c2;
}

.alert{
    background-color: #f8d7da; /* Kolor tła alert boxa */
    color: #721c24; /* Kolor czcionki */
    padding: 10px; /* Wewnętrzne marginesy */
    margin-bottom: 10px; /* Zewnętrzne marginesy */
    border: 1px solid #f5c6cb; /* Grubość i kolor obramowania */
    border-radius: 4px; /* Zakrzywienie rogów */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Cień */
}

.fusion{
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}

.svgs{
    position: absolute; 
    bottom: 20px; 
    left: 0; 
    right: 0; 
    margin: auto; 
    text-align: center;
}